In [1]:
import pandas as pd

In [7]:
original_Lux = pd.read_json('Luxury_Beauty.json', lines=True)
original_meta = pd.read_json('meta_Luxury_Beauty.json', lines=True)
# prime = pd.read_json('meta_Prime_Pantry.json', lines=True)

# df = original_Lux.copy()
meta = original_meta[['title', 'description', 'asin']].copy()

In [3]:
df.head()

,overall,vote,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,image
0,2,3,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,D. Poston,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,1276560000,NaN,NaN
1,5,14,True,"01 7, 2010",A3HO2SQDCZIE9S,B00004U9V2,chandra,"Believe me, over the years I have tried many, ...",Best hand cream ever.,1262822400,NaN,NaN
2,5,NaN,True,"04 18, 2018",A2EM03F99X3RJZ,B00004U9V2,Maureen G,Great hand lotion,Five Stars,1524009600,{'Size:': ' 3.5 oz.'},NaN
3,5,NaN,True,"04 18, 2018",A3Z74TDRGD0HU,B00004U9V2,Terry K,This is the best for the severely dry skin on ...,Five Stars,1524009600,{'Size:': ' 3.5 oz.'},NaN
4,5,NaN,True,"04 17, 2018",A2UXFNW9RTL4VM,B00004U9V2,Patricia Wood,The best non- oily hand cream ever. It heals o...,I always have a backup ready.,1523923200,{'Size:': ' 3.5 oz.'},NaN

In [26]:
meta.info(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12299 entries, 0 to 12298
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        12299 non-null  object
 1   description  12299 non-null  object
 2   asin         12299 non-null  object
dtypes: object(3)
memory usage: 288.4+ KB

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574628 entries, 0 to 574627
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         574628 non-null  int64
 1   vote            103689 non-null  object
 2   verified        574628 non-null  bool
 3   reviewTime      574628 non-null  object
 4   reviewerID      574628 non-null  object
 5   asin            574628 non-null  object
 6   reviewerName    574597 non-null  object
 7   reviewText      574228 non-null  object
 8   summary         574445 non-null  object
 9   unixReviewTime  574628 non-null  int64
 10  style           251013 non-null  object
 11  image           7418 non-null    object
dtypes: bool(1), int64(2), object(9)
memory usage: 48.8+ MB

In [28]:
original_Lux['summary'][200]

'This is my favorite hand cream'

In [29]:
test_set_meta = meta.sample(n=2500, random_state=42)
test_set_meta = test_set_meta.reset_index(drop=True)

In [30]:
test_set_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2500 non-null   object
 1   description  2500 non-null   object
 2   asin         2500 non-null   object
dtypes: object(3)
memory usage: 58.7+ KB

In [31]:
test_set_lux = df.sample(n=114927, random_state=42)
test_set_lux = test_set_lux.reset_index(drop=True)

In [32]:
test_set_lux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114927 entries, 0 to 114926
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         114927 non-null  int64
 1   vote            20690 non-null   object
 2   verified        114927 non-null  bool
 3   reviewTime      114927 non-null  object
 4   reviewerID      114927 non-null  object
 5   asin            114927 non-null  object
 6   reviewerName    114921 non-null  object
 7   reviewText      114846 non-null  object
 8   summary         114891 non-null  object
 9   unixReviewTime  114927 non-null  int64
 10  style           50267 non-null   object
 11  image           1491 non-null    object
dtypes: bool(1), int64(2), object(9)
memory usage: 9.8+ MB

In [33]:
test_set_lux.to_json('test_Luxury_Beauty.json',orient='records', lines=True)

# original_meta = test_set_meta

In [34]:
test_set_meta.to_json('test_meta_Luxury_Beauty.json',orient='records', lines=True)

In [35]:
import pandas as pd
shit = pd.read_json('Luxury_Beauty.json', lines=True)

In [36]:
shit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574628 entries, 0 to 574627
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         574628 non-null  int64
 1   vote            103689 non-null  object
 2   verified        574628 non-null  bool
 3   reviewTime      574628 non-null  object
 4   reviewerID      574628 non-null  object
 5   asin            574628 non-null  object
 6   reviewerName    574597 non-null  object
 7   reviewText      574228 non-null  object
 8   summary         574445 non-null  object
 9   unixReviewTime  574628 non-null  int64
 10  style           251013 non-null  object
 11  image           7418 non-null    object
dtypes: bool(1), int64(2), object(9)
memory usage: 48.8+ MB

In [37]:
chooth = pd.read_json('test_Luxury_Beauty.json', lines=True)
maadar = pd.read_json('test_meta_Luxury_Beauty.json', lines=True)

In [38]:
chooth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114927 entries, 0 to 114926
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         114927 non-null  int64
 1   vote            20690 non-null   object
 2   verified        114927 non-null  bool
 3   reviewTime      114927 non-null  object
 4   reviewerID      114927 non-null  object
 5   asin            114927 non-null  object
 6   reviewerName    114921 non-null  object
 7   reviewText      114846 non-null  object
 8   summary         114891 non-null  object
 9   unixReviewTime  114927 non-null  int64
 10  style           50267 non-null   object
 11  image           1491 non-null    object
dtypes: bool(1), int64(2), object(9)
memory usage: 9.8+ MB

In [39]:
maadar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2500 non-null   object
 1   description  2500 non-null   object
 2   asin         2500 non-null   object
dtypes: object(3)
memory usage: 58.7+ KB

In [6]:
import pandas as pd
import pickle

test = pd.read_json('test_meta_Luxury_Beauty.json', lines=True)
with open('Luxury_Beauty_text_name_dict.json', 'rb') as f:
    name_dict = pickle.load(f)
df = pd.DataFrame(name_dict)

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2500 non-null   object
 1   description  2500 non-null   object
 2   asin         2500 non-null   object
dtypes: object(3)
memory usage: 58.7+ KB

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 427 entries, 1 to 2005
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        427 non-null    object
 1   description  427 non-null    object
dtypes: object(2)
memory usage: 10.0+ KB

In [1]:
import os
import os.path
import gzip
import json
import pickle
from tqdm import tqdm
from collections import defaultdict

def parse(path):
    g = gzip.open(path, 'rb')
    for l in tqdm(g):
        yield json.loads(l)

def preprocess(fname):
    countU = defaultdict(lambda: 0) #counting how many reviews each user made ( reviewerID)
    countP = defaultdict(lambda: 0) # counting how many reviews each product (asin) received.
    line = 0

    file_path = f'{fname}.json.gz' # data over here

    # counting interactions for each user and item
    for l in parse(file_path):
        line += 1
        asin = l['asin']
        rev = l['reviewerID']
        time = l['unixReviewTime']
        countU[rev] += 1
        countP[asin] += 1

    usermap = dict()
    usernum = 0
    itemmap = dict()
    itemnum = 0
    User = dict()
    review_dict = {}
    name_dict = {'title':{}, 'description':{}}

    f = open(f'meta_{fname}.json', 'r')
    json_data = f.readlines()
    f.close()
    data_list = [json.loads(line[:-1]) for line in json_data]
    meta_dict = {}
    for l in data_list:
        meta_dict[l['asin']] = l

    for l in parse(file_path):
        line += 1
        asin = l['asin']
        rev = l['reviewerID']
        time = l['unixReviewTime']

        # Added Magazine over here
        threshold = 1
        if ('Beauty' in fname) or ('Toys' in fname) or ('Magazine_Subscriptions' in fname):
            # Changed threshold to 3 from 4  since the data is small of magazine
            threshold = 3

        if countU[rev] < threshold or countP[asin] < threshold:
            continue

        if rev in usermap:
            userid = usermap[rev]
        else:
            usernum += 1
            userid = usernum
            usermap[rev] = userid
            User[userid] = []

        if asin in itemmap:
            itemid = itemmap[asin]
        else:
            itemnum += 1
            itemid = itemnum
            itemmap[asin] = itemid
        User[userid].append([time, itemid])


        if itemmap[asin] in review_dict:
            try:
                review_dict[itemmap[asin]]['review'][usermap[rev]] = l['reviewText']
            except:
                a = 0
            try:
                review_dict[itemmap[asin]]['summary'][usermap[rev]] = l['summary']
            except:
                a = 0
        else:
            review_dict[itemmap[asin]] = {'review': {}, 'summary':{}}
            try:
                review_dict[itemmap[asin]]['review'][usermap[rev]] = l['reviewText']
            except:
                a = 0
            try:
                review_dict[itemmap[asin]]['summary'][usermap[rev]] = l['summary']
            except:
                a = 0
        try:
            if len(meta_dict[asin]['description']) ==0:
                name_dict['description'][itemmap[asin]] = 'Empty description'
            else:
                name_dict['description'][itemmap[asin]] = meta_dict[asin]['description'][0]
            name_dict['title'][itemmap[asin]] = meta_dict[asin]['title']
        except:
            a =0

    with open(f'{fname}_draft_69.json', 'wb') as tf:
        pickle.dump(name_dict, tf)

    for userid in User.keys():
        User[userid].sort(key=lambda x: x[0])

    print(usernum, itemnum)

    f = open(f'{fname}.txt', 'w') # data over here
    for user in User.keys():
        for i in User[user]:
            f.write('%d %d\n' % (user, i[1]))
    f.close()

In [2]:
preprocess('Luxury_Beauty')

114927it [00:00, 240643.38it/s]
114927it [00:00, 249126.72it/s]

1514 2008

In [2]:
import pandas as pd

with open('Luxury_Beauty_draft_69.json', 'rb') as f:
    temp = pickle.load(f)
df = pd.DataFrame(temp)

NameError: name 'pickle' is not defined

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2007 entries, 1 to 2008
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2007 non-null   object
 1   description  2007 non-null   object
dtypes: object(2)
memory usage: 47.0+ KB

In [9]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12299 entries, 0 to 12298
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        12299 non-null  object
 1   description  12299 non-null  object
 2   asin         12299 non-null  object
dtypes: object(3)
memory usage: 288.4+ KB

In [10]:
meta.head()

,title,description,asin
0,Crabtree &amp; Evelyn - Gardener's Ultra-Moist...,[After a long day of handling thorny situation...,B00004U9V2
1,AHAVA Bath Salts,[If you haven't experienced the pleasures of b...,B0000531EN
2,"AHAVA Dead Sea Mineral Mud, 8.5 oz, Pack of 4","[Rich, black mineral mud, harvested from the b...",B0000532JH
3,"Crabtree &amp; Evelyn Hand Soap, Gardeners, 10...",[This liquid soap with convenient pump dispens...,B00005A77F
4,Soy Milk Hand Crme,[Remember why you love your favorite blanket? ...,B00005NDTD

In [1]:
df.info()

NameError: name 'df' is not defined

In [65]:
meta.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes
0,[],,[After a long day of handling thorny situation...,,Crabtree &amp; Evelyn - Gardener's Ultra-Moist...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...",,,[],"4,324 in Beauty & Personal Care (","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",{' Product Dimensions: ': '2.2 x 2.2 ...,Luxury Beauty,,NaT,$30.00,B00004U9V2,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
1,[],,[If you haven't experienced the pleasures of b...,,AHAVA Bath Salts,[],,,[],"1,633,549 in Beauty & Personal Care (",[],{' Product Dimensions: ': '3 x 3.5 x ...,Luxury Beauty,,NaT,,B0000531EN,[],[]
2,[],,"[Rich, black mineral mud, harvested from the b...",,"AHAVA Dead Sea Mineral Mud, 8.5 oz, Pack of 4",[],,,[],"1,806,710 in Beauty &amp; Personal Care (",[],{' Product Dimensions: ': '5.1 x 3 x ...,Luxury Beauty,,NaT,,B0000532JH,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
3,[],,[This liquid soap with convenient pump dispens...,,"Crabtree &amp; Evelyn Hand Soap, Gardeners, 10...",[],,,[],[],"[B00004U9V2, B00GHX7H0A, B00FRERO7G, B00R68QXC...",{' Product Dimensions: ': '2.6 x 2.6 ...,Luxury Beauty,,NaT,$15.99,B00005A77F,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
4,[],,[Remember why you love your favorite blanket? ...,,Soy Milk Hand Crme,"[B000NZT6KM, B001BY229Q, B008J724QY, B0009YGKJ...",,,[],"42,464 in Beauty &amp; Personal Care (",[],{' Product Dimensions: ': '7.2 x 2.2 ...,Luxury Beauty,,NaT,$18.00,B00005NDTD,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...